$cBlack: #000;
$cWhite: #FFF;
$cLightWhite: #F8F8F8;
$cLightGray: #F1F1F1;
$cMediumGray: #CCC;
$cDarkDarkGray: #666;
$cDarkGray: #333;

$cBlue: #2A84D2;
$cDarkBlue: #2477BE;
$cLightBlue: #70D0EE;

$cRed: #F05658;
$cDarkRed: #D54C4E;

$cShadow: rgba($cBlack, 0.2);
