@import "compass";
@import "compass/reset";
@import "animate";
@import "helpers";

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  z-index: 10;
}

h3 {
  font-size: 14px;
  font-weight:bold;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Popup .Comment {
  display:none;
  padding: 10px 10px;
  min-height: 30px;
}
.Popup .Message {
  display:none;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:#fff;
  padding: 10px;
  @include box-sizing(border-box);
  overflow:hidden;
}
.Popup .Message .success {
  position:relative;
  top: 300px;
  width: 100%;
  height: 100%;
  background:#F05658;
  @include box-sizing(border-box);
}
.Popup .Body {
  position: relative;
  min-width: 300px;
  border-bottom: 1px solid #f1f1f1;
  word-break: break-word;
}
.Popup .Body .Controls {
  padding: 10px 10px;
  text-align: center;
}
.Popup .Body .Controls .Button {
  color: #fff;
}
.Popup.is--readonly .Comment { display: block; }
.Popup.is--readonly textarea { display: none; }
.Popup.is--readonly .Controls { display: none; }
.Popup.is--readonly.leaflet-popup .leaflet-popup-close-button {
  display:none;
}
.Popup .Header {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  @include border-radius(3px 3px 0 0);
  background: rgb(255, 249, 127);
  background: -webkit-linear-gradient(108deg, #70d0ee, #2a84d2 90%);
  color: #fff;
}
.Popup .Footer {
  position: relative;
  font-size: 11px;
  color: #666;
  padding: 7px 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include box-sizing(border-box);
  overflow:hidden;
}
.Popup .leaflet-popup-content-wrapper {
  background:#fff;
  font-size:14px;
  line-height:24px;
  color:#333;
  border:none;
  @include border-radius(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
}
.Popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}
.Popup.leaflet-popup .leaflet-popup-close-button {
  top: 9px;
  right: 5px;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
}
.Popup.leaflet-popup .leaflet-popup-close-button:hover {
  color: #333;
}
.Popup .leaflet-popup-content {
  margin: 0;
}
.Popup .leaflet-popup-tip {
  width: 12px;
  height: 12px;
  padding: 1px;
  margin: -10px auto 0;
  background:#fff;
  @include border-radius(2px);
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Button {
  width: 100%;
  padding: 10px 0;
  @include inline-block;
  text-decoration: none;
  background:#F05658;
  color:#fff;
  text-align:center;
  font-weight:bold;
}
.Button:hover {
  background:#D54C4E;
}

textarea {
  outline:none;
  background-color: #fff;
  width: 100%;
  border:none;
  @include box-sizing(border-box);
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  height: 100px;
  min-width: 300px;
  resize: none;
  word-break: break-word;
}

.InputField {
  position:absolute;
  margin: 20px;
  width: 500px;
  height: 43px;
  padding: 0 11px 0 13px;
  left: 35px;

  background-color: #fff;
  border: 1px solid transparent;
  @include border-radius(2px);
  @include box-sizing(border-box);

  font-size: 15px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;

  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
#map .cartodb-zoom {
  background-color: #fff;
  border: 1px solid transparent;
  @include border-radius(2px);
  @include box-sizing(border-box);
  width: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border:none;
}
#map .cartodb-zoom a {
  height: 20px;
  width: 20px;
  font-weight: normal;
  text-decoration: none;
  line-height: 0;
  font-size: 15px;
  background: none;
  text-indent: 0;
  padding: 10px 0;
  @include box-sizing(border-box);
  outline:none;
}
#map .cartodb-zoom a:hover {
  background:#f1f1f1;
}

.Avatar{
  width: 30px;
  float: left;
  margin-right: 10px;
  @include border-radius(50%);
}


.InformationPane.is--open .ToggleButton:after {
  content: '—';
}
.InformationPane .ToggleButton:after {
  content: '+';
  color: #333;
  position:relative;
  font-weight: bold;
  font-size: 14px;
}
.InformationPane .ToggleButton {
  float: right;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}
.InformationPane {
  position:absolute;
  left: 0px;
  bottom: 0;
  width: 350px;
  padding: 15px;
  @include box-sizing(border-box);
  display:none;
  z-index: 1000000;
}
.InformationPane .PaneContent {
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
  background-color: #fff;
  @include border-radius(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 15px 10px;
  @include box-sizing(border-box);
  font-size: 14px;
  text-align: center;
}
.InformationPane .PaneContent h3 {
  text-align:left;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
.InformationPane .PaneContent p {
  margin-bottom: 20px;
  text-align: left;
  line-height: 130%;
}
.InformationPane .PaneContent p a {
  color: #333;
  font-weight:bold;
  text-decoration: none;
}
.InformationPane .PaneContent .Button {
  width: 100%;
  margin: auto;
  background: #2a84d2;
  @include border-radius(2px);
  text-decoration: underline;
}
.InformationPane .PaneContent .Button:hover {
  background: #2477BE;
}
.is--logged .InformationPane .PaneContent .TwitterHelp,
.is--logged .InformationPane .PaneContent .Button {
  display:none;
}
.is--logged .InformationPane .PaneContent p {
  margin: 0;
}

.CommentsPane.has--loaded .ToggleButton{
  display: block;
}
.CommentsPane .ToggleButton {
  display:none;
  width: 30px;
  height: 30px;
  position:absolute;
  top: 50%;
  left: -40px;
  margin-top: -15px;
  background: rgba(0,0,0, .2);
  @include border-radius(40px);
}
.CommentsPane.is--open .ToggleButton:after {
  background: url("/img/reverse_arrow.svg");
  right: 11px;
}
.CommentsPane .ToggleButton:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 12px;
  width: 7px;
  height: 12px;
  background: url("/img/arrow.svg");
}
.CommentsPane.is--first-time .ToggleButton:after {
  @include animation(bounce-arrow 1s ease-in-out infinite);
  right: 10px;
}
.CommentsPane .CommentsInnerContent {
  width: 100%;
  height: 100%;
  overflow:hidden;
  overflow-y: scroll;
}
.CommentsPane {
  position:absolute;
  right: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  clear:both;
  padding: 10px;
  @include box-sizing(border-box);
  z-index: 100;
}
.CommentItem {
  display:none;
  font-size: 10px;
  vertical-align: top;
  margin: 0 0 8px 0;
  width: 100%;
  padding: 7px;
  cursor:pointer;

  clear:both;
  background-color: #fff;
  border: 1px solid transparent;
  @include border-radius(2px);
  @include box-sizing(border-box);

  font-size: 15px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;

  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.CommentItem:hover {
  background:#f1f1f1;
}
.CommentItem .Body {
  font-size: 13px;
}
.CommentItem .Body strong {
  font-weight:bold;
}
.CommentItem p {
  word-break: break-word;
}
.CommentItem .Footer {
  position: relative;
  font-size: 12px;
  color: #666;
  padding: 3px 0 0 0;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #f1f1f1;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include box-sizing(border-box);
  overflow:hidden;
}
