{% extends 'layout.ejs' %}
{% block content %}
<input id="pac-input" class="InputField" type="text" placeholder="Enter a location">
<div class="InformationPane js-information-pane"><div class="PaneContent">
</div></div>
<div id="map"></div>
{% endblock %}
