{% extends 'layout.ejs' %}
{% block content %}
<input class="InputField js-search-place" type="text" placeholder="Search for a place">
<div class="InformationPane js-information-pane"><div class="PaneContent">
</div></div>
<div id="map"></div>
{% endblock %}
