<!DOCTYPE html>
<html>
  <head>
    <title>My Japan trip</title>
    <meta name="viewport" content="width=775, maximum-scale=1.0" />
    <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.13/themes/css/cartodb.css" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.13/cartodb.js"></script>
    <link href='/css/japan.min.css' rel='stylesheet' type='text/css' />
    <script src="/js/japan.js"></script>
  </head>
  <body>
    <script>
      var username = "{{= user.screen_name }}";
      var avatar   = "{{= user.profile_image_url }}";
    </script>
    <div id="map"></div>
  </body>
</html>
