<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=775, maximum-scale=1.0" />

    <meta name="twitter:card" value="As you may have heard, I'm planning a trip to Japan at the end of May. It'll be my very first time there and my FOMO levels are skyrocketing. What places should I visit? Where should I eat? What are the hidden secrets of this magical and crazy island? Please, help me by adding some of your favorite spots.">

    <meta property="og:title" content="My Japan trip" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://japan.javierarce.com/img/japan.png" />
    <meta property="og:url" content="http://japan.javierarce.com" />
    <meta property="og:description" content="As you may have heard, I'm planning a trip to Japan at the end of May. It'll be my very first time there and my FOMO levels are skyrocketing. What places should I visit? Where should I eat? What are the hidden secrets of this magical and crazy island? Please, help me by adding some of your favorite spots." /> 


    <title>My Japan trip.</title>
    <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.13/themes/css/cartodb.css" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.13/cartodb.js"></script>
    <link href='/css/app.min.css' rel='stylesheet' type='text/css' />
    <script src="/js/app.min.js"></script>
    <link rel="icon" href="/img/favicon.ico?v=3"/>
  </head>
  <body>
    <script>
      window.config = {
        map: {{- JSON.stringify(map) }},
        vizjson: "{{= vizjson_url }}",
        username: "{{= user.screen_name }}",
        avatar: "{{= user.profile_image_url }}"
      };
    </script>
    <div id="map" class="Map"></div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-298577-21', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>

